*{
	padding: 0px;
	margin: 0px;
	font-family: verdana; 
}

header{
	margin: 100px auto;
	width: 1200px;
	height: 230px;
	background-color: red; 
}

div.contenedor{
	width: 200px;
	height: 230px;
	float: left;
	-webkit-transition: height .4s;
}

div#um{
	background-color: rgb(208,101,3);
}

div#dois{
	background-color: rgb(233,147,26);
}

div#tres{
	background-color: rgb(22,145,190);
}

div#quatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}

/*Formatação da imagens icon*/

img.icon{
	display: block;
	margin: 50px auto;
	background-color: rgba(255,255,255,.15); 
	width: 40px;
	padding: 20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,.0);
	-webkit-transition: box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding-top: 10px;
	opacity: .6;
	-webkit-transition: padding-top .4s; 
}

div.contenedor:hover {
	height: 250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}
